body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.donate-button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    width: 12%;
    margin: auto;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    border: none;
}

 /************ Head Section ****************/

 .header {
    background-image: url(img/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }
.overlay {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .4);
}
 .head {
    padding: 200px 0;
    text-align: center;
 }

.head h1 {
    color: aliceblue;
    font-size: 81px;
    margin: 0;
}

.head p {
    color:white;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}


 /************ Donate Today Section ****************/
 .donate-today .head {
    padding-top: 100px;
    padding-bottom: 20px;
 }
 .donate-today .head h1{
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
 }

 .donate-today .head p{
    color: black;
 }

.amount {
    margin: auto;
    width: 60%;
    
}
 .amount ul {
    list-style: none;
    display: flex;
 }
 .amount ul li a{
    text-decoration: none;
    background-color: aliceblue ;
    margin: 10px 20px;
    padding: 30px 20px;
    color: #707070;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
 }

.amount ul li a:hover {
    border: 3px solid tomato;
    color: tomato;
    background-color: #FFEEEE;
}

.form-section {
    text-align: center;
    padding-top: 80px;
 }

 .form-section input[type=text] {
    border: none;
    border-bottom: 2px solid #e1cdcd;
    width: 40%;
    padding: 20px;
    margin-bottom: 20px;
  }

  ::placeholder { 
    color: #e1cdcd;
    opacity: 1; 
    text-align: center;
    font-size: 20px;
  }
/************ Our Plan Section ****************/

.our-plan .head {
    padding-top: 100px;
    padding-bottom: 20px;
 }
.our-plan .head h1{
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
 }

.our-plan .head p{
    color: black;
 }

.flex-container{
    display: flex;
    margin-left: 90px;
 }

.plan {
    width: 25%;
    padding: 40px 15px;
    margin: 5px 20px;
    border-radius: 5px;
 }

.plan-bg1 {
    background-color: #EDF5F6;
    
 }

.plan-bg2 {
    background-color: #FFEEEE;
 }

.plan-bg3 {
    background-color: #FFF4D6;
 }

.plan:hover {
    -webkit-box-shadow: -7px -10px 49px -1px rgba(0,0,0,0.87); 
    box-shadow: -7px -10px 49px -1px rgba(0,0,0,0.87);
    transition: 2s;
}


/************ Contact Us Section ****************/

.contact-us {
    background-image: url(img/Frame58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-us h1{
    color: black;
    font-size: 60px;
    padding: 45px 0;
 }

.contact-form {
    text-align: center;
    width: 50%;
    margin: auto;
 }

.contact-form input, textarea {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 4px;
}
